[Unit]
Description=Apply piavpn tmpfiles
DefaultDependencies=no
Before=virtnetworkd.service
Wants=virtnetworkd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-tmpfiles --create /usr/lib/tmpfiles.d/sirius-os.conf

[Install]
WantedBy=multi-user.target

