[Unit]
Description=Wolf-OS First Boot Cleanup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/wolf-os-firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

